*{
    margin: 0;
    padding: 0;
}


body{
    font-family: Montserrat;
}
.center{
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}
.top{
    background-color: rgb(225, 255, 143);
}
.header{
    padding-bottom: 246px;
    &__title{
        max-width: 768px;
        color: rgb(32, 32, 39);
        font-size: 64px;
        font-weight: 700;
        line-height: 78px;
        text-align: left;
        padding-top: 196px;
        margin-bottom: 24px;
    }   
    &__hello{
        max-width: 720px;
        color: rgb(32, 32, 39);
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
        letter-spacing: 0px;
        text-align: left;
        margin-bottom: 48px;
    }
    &__btm{
        display: block;
        width: 247px;
        text-decoration-line: none;
        color: rgb(255, 255, 255);
        font-family: Montserrat;
        font-size: 24px;
        font-weight: 600;
        line-height: 141.69%;
        text-align: center;
        padding: 16px 28px;
        box-sizing: border-box;
        border: 1px solid rgb(32, 32, 39);
        border-radius: 60px;
        background: rgb(32, 32, 39);
    }
}